<div class="register-wrapper">
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>Creează Cont Nou</mat-card-title>
      <mat-card-subtitle>Devino client al magazinului nostru</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="onRegister()">
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nume Utilizator</mat-label>
          <input matInput [(ngModel)]="username" name="username" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Parolă</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required minlength="4">
        </mat-form-field>

        <p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>
        <p *ngIf="successMessage" class="success-text">{{ successMessage }}</p>

        <mat-card-actions class="actions">
          <button mat-raised-button color="primary" type="submit" class="full-width">
            Înregistrează-te
          </button>
          
          <button mat-button type="button" (click)="goToLogin()" class="full-width mt-2">
            Ai deja cont? Loghează-te
          </button>
        </mat-card-actions>
      
      </form>
    </mat-card-content>
  </mat-card>
</div>