.register-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.register-card {
  min-width: 350px;
  max-width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
  display: block;
}

.mt-2 {
  margin-top: 10px;
}

.error-text { color: #f44336; text-align: center; margin: 10px 0; }
.success-text { color: #4caf50; text-align: center; margin: 10px 0; font-weight: bold; }

mat-form-field { margin-bottom: 5px; }
.actions { flex-direction: column; }