.admin-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.add-form mat-form-field {
  flex-grow: 1;
}

.add-product-card {
  margin-bottom: 30px;
  padding: 10px;
}


.custom-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.custom-table th, .custom-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.custom-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}